html {
  box-sizing: border-box;
 }

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}

body {
  background-color: rgb(194, 175, 194);
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 40px;

  }

button {
  width: 10rem;
  height: 5rem;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  outline: none;

}  

.forms1, .forms2, .forms3 {
  font-size: 15px;
  line-height: 30px;
}
input {
  width: 100%
}

#buttonBar {
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  }

#firstLib, #secondLib, #thirdLib {
  font-size: 20px;
  margin: 0 auto;
}

#bottomButtons {
  
  padding: 10px;
  margin: 10px;
}

#reset {
  display: flex;
  justify-self: center;
  background-color: red;
  padding: 10px;
  margin: 10px;
}

#getLib1, #getLib2, #getLib3 {
  margin: 0 auto;
}

#allLibContent {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
 }


     /* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 300px) and (max-device-width : 480px) {
  /* Styles */
  body {
    background-color: rgb(139, 195, 209);
    font-size: 20px;
    margin: 30px;
  }

}