html {
  box-sizing: border-box;
 }

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}

body {
  background-color: rgb(194, 175, 194);
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 40px;

  }

button {
  width: 10rem;
  height: 5rem;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  outline: none;
  font-family: 'Roboto Condensed', sans-serif;
  border: 1px solid rgb(90, 89, 89);
}  

button:hover{
  color: white;
  border: 3px grey;
  
}

.forms1, .forms2, .forms3 {
  font-size: 18px;
  line-height: 30px;
}

input {
  width: 100%;
  border-radius: 12px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.27);
  border: none;
  
  
}
input[type=text]:focus {
  background-image: linear-gradient(to right bottom, #9eefdd, #87f3da, #6ef7d5, #4efad0, #0dfdc9);
  outline: none;
}
input[type=number]:focus {
  background-image: linear-gradient(to right bottom, #9eefdd, #87f3da, #6ef7d5, #4efad0, #0dfdc9);
  outline: none;
}
select {
  width: 50%;
  border-radius: 12px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.27);
  
}
select:focus {
  background-image: linear-gradient(to right bottom, #9eefdd, #87f3da, #6ef7d5, #4efad0, #0dfdc9);
  outline: none;
}

#buttonBar {
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  
  }

#firstLib, #secondLib, #thirdLib {
  font-size: 20px;
  margin: 0 auto;
  font-family: 'Architects Daughter', cursive;
  text-shadow: 9px 4px 13px rgba(56,56,56,0.89);

}

#bottomButtons {
  padding: 10px;
  margin: 10px;
}

#reset {
  display: flex;
  justify-self: center;
  background-image: linear-gradient(to top, #f60a12, #f72e2c, #f74340, #f65553, #f36565);
  font-size: 18px;
  box-shadow: 5px 5px 18px 5px rgba(0,0,0,0.54);
}

#getLib1, #getLib2, #getLib3 {
  margin: 0 auto;
  --animate-delay: 3s;
  background-image: linear-gradient(to right bottom, #0df32b, #0cd425, #0ab61f, #099919, #077d13);
  box-shadow: 5px 5px 18px 5px rgba(0,0,0,0.54);
}

#allLibContent {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
 }


 #lib1, #lib2, #lib3 {
  background-image: linear-gradient(to right top, #0c63e5, #0094ff, #00b8f5, #00d5bf, #12eb7d);
  box-shadow: 5px 5px 18px 5px rgba(0,0,0,0.54);
 }

 /* #l1-print-here, #l2-print-here, #l3-print-here{
  
 } */

     /* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 300px) and (max-device-width : 480px) {
  /* Styles */
  body {
    background-color: rgb(139, 195, 209);
    font-size: 20px;
    margin: 30px;
  }

}

#firstLib, #secondLib, #thirdLib {
  font-size: 20px;
  margin: 0 auto;
  font-family: 'Architects Daughter', cursive;
  text-shadow: none;
}

